<% # Copyright (c) 2010 The Regents of the University of California -%>
<% # Released under New BSD License linked at http://www.opensource.org/licenses/bsd-license.php -%>
<% # Author: SLC, Date: 2010/03/05 -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= title_content %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= stylesheet_link_tag 'ellie', "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
      <div id="heading">
          <span style="position: absolute; left:0px"><a href="/"><%= image_tag("ellie_small.png", :size => "36x32", :alt => "Ellie") %></a></span><span style="position: absolute; left:40px"> HathiTrust API Paste-Up</span>
          <span style="position: absolute; right:0px">
          <% form_tag('/search/run', :method => :get) do %>
            <%= text_field_tag 'id', '', :size => '35' %>
            <%= submit_tag 'Search' %><br/>
          <% end %>   
          </span> 
      </div>
	  <%- if show_title? -%>
    <div id="title">
        <span><%= title_content %></span>
    </div>
      <%- end -%>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      <%= yield %>
    </div>
  </body>
</html>

</html>
